body {
        background-image:url(https://i.pinimg.com/originals/15/1e/99/151e99f73bc7629406867e7f68dbf058.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      
      }   
details {
      background-color: rgb(241, 241, 241);
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      box-sizing: border-box;
      color: rgb(0, 0, 0);
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      line-height: 18px;
      }
      
    h1 { 
        padding: 14px;
      }
    h2 {
        padding: 14px;
      }
      div{
          padding: 14px;
          font-size-adjust: 15px;
      }
      